@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Suisse Intl";
  src: url("../fonts/SuisseIntl-Regular.woff2") format("woff2"),
    url("../fonts/SuisseIntl-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("../fonts/SuisseIntl-RegularItalic.woff2") format("woff2"),
    url("../fonts/SuisseIntl-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("../fonts/SuisseIntl-Semibold.woff2") format("woff2"),
    url("../fonts/SuisseIntl-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("../fonts/SuisseIntl-SemiboldItalic.woff2") format("woff2"),
    url("../fonts/SuisseIntl-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Slider */
.yarl__container {
  background: none;
  @apply bg-white bg-opacity-90;
}

.yarl__button {
  filter: none;
}

.yarl__slide_title {
  @apply font-suisse-intl font-normal text-base text-black;
}

.yarl__slide_description {
  @apply font-suisse-intl font-normal text-xs text-black;
}

.yarl__slide_captions_container {
  background: none;
}
